---
- name: configure...
  become: yes
  become_user: root
  template:
    src: cassandra.yaml.j2
    dest: '{{cassandra_home_dir}}/conf/cassandra.yaml'
    mode: '0644'
    
- include_tasks: '{{cassandra_supervisor|default("systemd")}}.yml'
